$shadow-color :  rgba(0,0,0, .75);
$user-card-red :  rgb(240, 116, 116);
$color-black : #000;
$header-2-section-color :  rgb(228, 203, 203);
$value-15 : 15% ;
$value-0 : 0%;

.div-animate-right {
    position: relative;
    animation: animateright 1s;
} @keyframes animateright{
        from{
            right: -300px;
            opacity: 0;
        } to{
            right: 0;
            opacity: 1;
        }
    }
.div-animate-left{
    position: relative;
    animation: animateleft 1s;
} @keyframes animateleft{
    from{
        left: -300px;
        opacity: 0;
    } to{
        left: 0;
        opacity: 1;
    }
}
.img-animate{
    clip-path: circle(74.6% at 25% 49%);
}
.header-2-section{
    margin-right: -9%;
    margin-left: -8.3%;
    background-color: $header-2-section-color;
    height: $value-15;
    min-height: $value-15;
    padding: 50px;
    clip-path: circle(73.6% at 93% 49%);
    text-align: right;
    z-index: 0;
}
.form-div{
    margin-left: 20%;
}
.opacityBtn{
    opacity: 0.5;
}
.img-animate img{
    width: 80%;
    height: auto;
}
.user-static-card{
    background-color: $user-card-red;
    border-radius: 3px;
    padding: 3%;
    -webkit-box-shadow: 10px 10px 24px -10px $shadow-color;
    -moz-box-shadow: 10px 10px 24px -10px $shadow-color;
    box-shadow: 10px 10px 24px -10px $shadow-color;
}

.username-static{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $color-black !important;
}
.custom-padding{
    margin-right: 0%;
}

@mixin for-responsive {
    @media (max-width:988px) { @content; }
  }

@include for-responsive{
    .img-animate{
        clip-path: none;
    }
    .header-1-section{
        width: 100%;
    }
    .header-2-section{
        margin-left: $value-0;
        margin-right: $value-0;
        background-color: rgb(228, 203, 203);
        height: $value-15;
        min-height: $value-15;
        padding: $value-0;
        clip-path: none;
    }
    .form-div{
        margin-left: $value-0;
    }
    .custom-padding{
        margin-right: 10%;
    }

}

