@import '../../../../scss_variables.scss';

section{
    .jumbotron{
      max-height: 70vh;
      overflow: auto;
      background-size: cover;
      background-blend-mode: lighten;
      mat-card{
        background-color: $color-white;
        color: $color-black;
          .cost{
             text-align: center;
          }
      }
    }
  }

#active-orders{
    .jumbotron{
      background-color: $bg-color-jumbotron;
      background-image: none;
    }
}
.recent-delivery.mat-card-content{
    background-color: $color-card-light-black;
    color: $color-white;
  
}
.shadow-box{
    -webkit-box-shadow: 14px 11px 20px -6px $shadow-color-black;
    -moz-box-shadow: 14px 11px 20px -6px $shadow-color-black;
    box-shadow: 14px 11px 20px -6px $shadow-color-black;
}
.font-color-red{
    color: $font-color-red ;
}
.bg-color-redLight{
    background-color: $theme-red ;
}
.heading-6{
   font-size: 6vw;
}
