<mat-tab-group dynamicHeight mat-align-tabs="center" color="warn" class="rest-mat-tab pb-5" [selectedIndex]="1">

    <ng-container *ngIf="userCart.length != 0">
        <mat-tab label="Cart Summary" color="warn" class="label-danger main-rest-content">

            <app-view-cart></app-view-cart>

        </mat-tab>
        <mat-tab label="Billing Details">

            <mat-card id="card" class="card mx-auto mt-5 mb-3">
                <mat-card-title class="text-secondary">
                    Billing Details
                </mat-card-title>

                <mat-card-subtitle class="text-secondary">

                    <hr class="ruler">
                </mat-card-subtitle>

                <mat-card-content>


                    <div class="text-secondary mt-2 d-flex justify-content-between align-items-end">
                        <div class="text-left">
                            <h3 class="mb-0">Ordered From</h3>
                            <h2>{{restaurantData?.restaurantName}}</h2>
                        </div>
                        <div class="mb-0">
                            <h3>{{restaurantData?.restaurantLocation.area}}, {{restaurantData?.restaurantLocation.city}}
                            </h3>
                        </div>
                    </div>
                    <hr>


                    <div class="item-total text-secondary mt-2 d-flex justify-content-between"
                        *ngIf='restaurantData!=undefined'>
                        <h3>Item Total</h3>
                        <h3>{{getSubTotal()|currency:"INR":"symbol"}}</h3>
                    </div>

                    <div class="delivery-charge text-secondary mt-2 d-flex justify-content-between">
                        <h3>Delivery Charge</h3>
                        <h3>{{40|currency:"INR":"symbol"}}</h3>
                    </div>

                    <div class="grand-total text-secondary mt-2 d-flex justify-content-between"
                        *ngIf='restaurantData!=undefined'>
                        <h2>Grand Total</h2>
                        <h2>{{getSubTotal()+40|currency:"INR":"symbol"}}</h2>
                    </div>

                    <ng-container *ngIf='addressData.streetAddress.length != 0'>
                        <div class="address text-secondary mt-2 d-flex justify-content-between">
                            <h2>Your Address</h2>
                            <h3 class="text-right">{{addressData.streetAddress}}, {{addressData.landmark}},
                                {{addressData.area}},
                                <br> {{addressData.city}} - {{addressData.zip}}.
                            </h3>
                        </div>
                    </ng-container>

                    <div class="address-button mt-2 d-flex justify-content-center">

                        <div class="d-flex justify-content-center mt-4 mr-1">
                            <button mat-raised-button color="accent" class="location-button" (click)="addAddress()"
                                [disabled]='!activityStatus'>
                                {{addressData.streetAddress.length != 0 ? "Edit Address" : "Add Address"}}
                            </button>
                        </div>
                        <ng-container *ngIf='addressData.streetAddress.length != 0'>
                            <div class="d-flex justify-content-center mt-4 mr-1">
                                <button mat-raised-button color="primary" class="location-button"
                                    [disabled]='!activityStatus' (click)="placeOrder()">Place Order
                                </button>
                            </div>
                        </ng-container>

                    </div>
                    <hr>
                    <h3 *ngIf='!activityStatus' class="text-danger">This restaurant is no accepting any orders right
                        now...</h3>



                </mat-card-content>
            </mat-card>
        </mat-tab>
    </ng-container>
    <ng-container *ngIf='userCart.length == 0'>
        <mat-tab label="Cart Summary" color="warn" class="label-danger main-rest-content">

            <app-view-cart></app-view-cart>

        </mat-tab>
    </ng-container>
</mat-tab-group>