$enable-responsive-font-sizes : true;
$font-color-red : rgb(218, 32, 32);
$shadow-color-black : rgba(0,0,0, .62);
$card-red-webkit: rgba(255,67,54, .56);
$card-btn-red: rgb(244,67,54);
$color-white : #fff;
$color-black : #000;
$bg-color-jumbotron :  rgba(211, 72, 48, .384);
$theme-red : #cc3528;
$color-card-light-black : #3a3939;
$theme-red : #cc3528;
$color-facebook-bg :#3B5998 ;
$color-footer-text : #7e7e7e;
$color-footer-bg: #eee6e5 ;
$color-twitter-bg : #55ACEE;
$value-10 : 10%;
$value-30px : 30px;
$value-100 : 100%;
$value-50 : 50% ;
$value-20px : 20px;
